<aside>
    <div class="menuBtn">
        <img src="../../../assets/img/ico/woodhub_ico.svg" alt="">
    </div>
    <ul>
        <li routerLinkActive="active">
            <a class="menuBtn" [routerLink]="opbook">
                <img src="../../../assets/img/ico/book_ico.svg" alt="">
            </a>
        </li>
        <li>
            <a class="menuBtn" [routerLink]="opbook">
                <img src="../../../assets/img/ico/log-out_ico.svg" alt="">
            </a>
        </li>
    </ul>
</aside>